<a href="https://colab.research.google.com/github/kapilkush75/DS-Impact/blob/main/Assignment_15May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Note: Create your assignment in Jupyter notebook and upload it to GitHub & share that github repository
link through your dashboard. Make sure the repository is public.

Q1. How do you comment code in Python? What are the different types of comments?

Answer1:

#This is a comment
#written in

print("Hello, World!") # Code line Comments

'''
Multiple line comments using '''
'''

"""
Multiple line comments using """
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

In [5]:
### Answer
### Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.
### Scope of Variable Global or Local
### Global Variables : Variables that are created outside of a function (as in all of the examples above) are known as global variables.
###                    Global variables can be used by everyone, both inside of functions and outside.
### Examples

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x),x)
print(type(y
x = 5
y = "John"
print(x)
print(y)),y)
print(type(z),z)

5
John
<class 'str'> 3
<class 'int'> 3
<class 'float'> 3.0

Q3. How do you convert one data type to another in Python?

In [ ]:
### Answer
### To convert between types, you simply use the type name as a function.

## There are several built-in functions to perform conversion from one data type to another.
## These functions return a new object representing the converted value.

int(x [,base]) # Converts x to an integer. base specifies the base if x is a string.
long(x [,base] ) # Converts x to a long integer. base specifies the base if x is a string.
float(x) # Converts x to a floating-point number.
complex(real [,imag]) # Creates a complex number.
str(x) # Converts object x to a string representation.
repr(x) # Converts object x to an expression string.
eval(str) # Evaluates a string and returns an object.
tuple(s) # Converts s to a tuple.
list(s) # Converts s to a list.
set(s) #Converts s to a set.
dict(d) # Creates a dictionary. d must be a sequence of (key,value) tuples.
frozenset(s) # Converts s to a frozen set.
chr(x) # Converts an integer to a character.
unichr(x)  # Converts an integer to a Unicode character.
ord(x) # Converts a single character to its integer value.
hex(x) # Converts an integer to a hexadecimal string.
oct(x) # Converts an integer to an octal string.

Q4. How do you write and execute a Python script from the command line?

### Answer
Command Prompt>python "<file path>/<filename.py> <enter>

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [8]:
 ## Answer
 my_list = list([1, 2, 3, 4, 5])
 my_list[1:3]

[2, 3]

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [11]:
age = float(25)
type(age)

float

 Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [12]:
price = float(9.99)
type(price)

float

Q10. Given the string "Hello, World!", extract the substring "World".

In [30]:
import numpy as np
str1 = "Hello, World"
idx = str1.index("World")
str1[idx:idx+5]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [35]:

is_student = False
if( not is_student):
  print("Not a Student")
else :
  print("Is a Student")

Not a Student